.section#about
  .content
    .subsection.summary
      = Maruku.new(@site.config[:resume][:contact][:bio]).to_html

- @site.config[:resume][:sections].each do |section|
  = render 'section', :section => section
