html, body { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

blockquote, q { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; quotes: "" ""; }
blockquote:before, q:before, blockquote:after, q:after { content: ""; }

th, td, caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-align: left; font-weight: normal; vertical-align: middle; }

table { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; border-collapse: separate; border-spacing: 0; vertical-align: middle; }

a img { border: none; }

body { line-height: 1.5; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; color: #333333; font-size: 75%; }

h1 { font-weight: normal; color: #222222; font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h1 img { margin: 0; }

h2 { font-weight: normal; color: #222222; font-size: 2em; margin-bottom: 0.75em; }

h3 { font-weight: normal; color: #222222; font-size: 1.5em; line-height: 1; margin-bottom: 1em; }

h4 { font-weight: normal; color: #222222; font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }

h5 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }

h6 { font-weight: normal; color: #222222; font-size: 1em; font-weight: bold; }

h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }

p { margin: 0 0 1.5em; }
p img.left { display: inline; float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { display: inline; float: right; margin: 1.5em 0 1.5em 1.5em; padding: 0; }

a { text-decoration: underline; color: #000099; }
a:visited { color: #000066; }
a:focus { color: black; }
a:hover { color: black; }
a:active { color: #cc0099; }

blockquote { margin: 1.5em; color: #666; font-style: italic; }

strong { font-weight: bold; }

em { font-style: italic; }

dfn { font-style: italic; font-weight: bold; }

sup, sub { line-height: 0; }

abbr, acronym { border-bottom: 1px dotted #666; }

address { margin: 0 0 1.5em; font-style: italic; }

del { color: #666; }

pre { margin: 1.5em 0; white-space: pre; }

pre, code, tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

li ul, li ol { margin: 0 1.5em; }

ul { margin: 0 1.5em 1.5em 1.5em; list-style-type: disc; }

ol { margin: 0 1.5em 1.5em 1.5em; list-style-type: decimal; }

dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }

dd { margin-left: 1.5em; }

table { margin-bottom: 1.4em; width: 100%; }

th { font-weight: bold; }

thead th { background: #c3d9ff; }

th, td, caption { padding: 4px 10px 4px 5px; }

tr.even td { background: #e5ecf9; }

tfoot { font-style: italic; }

caption { background: #eee; }

.quiet { color: #666666; }

.loud { color: #111111; }

body { color: #000; }
body .clear { clear: both; }
body .nowrap { white-space: nowrap; }
body .clearfix { overflow: hidden; display: inline-block; }
body .clearfix { display: block; }
body .small { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
body .large { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
body .first { margin-left: 0; padding-left: 0; }
body .last { margin-right: 0; padding-right: 0; }
body .top { margin-top: 0; padding-top: 0; }
body .bottom { margin-bottom: 0; padding-bottom: 0; }
body .showgrid { background: url('/../../public/images/grid.png'); }
body .error { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
body .error a { color: #8a1f11; }
body .notice { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fff6bf; color: #514721; border-color: #ffd324; }
body .notice a { color: #514721; }
body .success { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #e6efc2; color: #264409; border-color: #c6d880; }
body .success a { color: #264409; }
body .hide { display: none; }
body .highlight { background: yellow; }
body .added { background: #006600; color: white; }
body .removed { background: #990000; color: white; }

a, a:visited, a:active { text-decoration: none; border-bottom: 1px solid; }

abbr { border-bottom: none; }

.hresume { width: 790px; margin: 0 auto; overflow: hidden; display: inline-block; }
.hresume h1, .hresume h2, .hresume h3, .hresume h4, .hresume h5, .hresume h6 { color: #000; }
.hresume { display: block; }
.hresume #header { width: 790px; margin: 0 auto; overflow: hidden; display: inline-block; padding-top: 10px; }
.hresume #header { display: block; }
.hresume #header #contact { display: inline; float: left; margin-right: 10px; width: 110px; text-align: right; }
* html .hresume #header #contact { overflow-x: hidden; }
.hresume #header #contact address { font-style: normal; display: block; margin-top: 10px; }
.hresume #header #contact address .street-address, .hresume #header #contact address .extended-address , .hresume #header #contact address .country-name, .hresume #header #contact address .postal-code { display: block; }
.hresume #header #me { display: inline; float: left; margin-right: 0; width: 670px; }
* html .hresume #header #me { overflow-x: hidden; }
.hresume #header #me h1 { font-size: 48px; font-weight: bold; margin: 0 0 0 20px; }
.hresume #header #me h2 { font-size: 18px; font-weight: bold; margin: 0 0 0 20px; }
.hresume #about .content { display: inline; float: right; position: relative; margin: 0 -120px 1.5em 120px; display: inline; float: left; margin-right: 0; width: 670px; }
* html .hresume #about .content { overflow-x: hidden; }
.hresume #about .content .subsection { padding-top: 10px; padding-bottom: 0; margin-bottom: 10px; }
.hresume #about .content .subsection p:last-child { margin-bottom: 0; }
.hresume .section { width: 790px; margin: 0 auto; overflow: hidden; display: inline-block; }
.hresume .section { display: block; }
.hresume .section h2.title { display: inline; float: left; margin-right: 10px; width: 110px; text-align: right; font-size: 18px; font-weight: bold; }
* html .hresume .section h2.title { overflow-x: hidden; }
.hresume .section .content { display: inline; float: left; margin-right: 0; width: 670px; }
* html .hresume .section .content { overflow-x: hidden; }
.hresume .section .subsection.skills { padding-top: 6px; }
.hresume .section .subsection { padding: 40px 20px 0 20px; margin: 0 0 40px 0; position: relative; border-top: 1px solid #000; }
.hresume .section .subsection ul { list-style-type: square; padding: 0; margin: 0 0 1.5em 0; }
.hresume .section .subsection ul li { padding: 0; margin: 0; }
.hresume .section .subsection h3 { font-weight: bold; font-size: 14px; }
.hresume .section .subsection .vcard .org { display: none; }
.hresume .section .subsection .experienceHdr { position: absolute; top: 0; left: 0; margin: 0 10px; padding: 0 5px; list-style-type: none; border-bottom: 1px solid #000; width: 640px; }
.hresume .section .subsection .experienceHdr li { padding: 5px; float: left; }
.hresume .section .subsection .experienceHdr .location { float: right; }
