.section{ :id => section[:type].to_permalink, :class => " #{section[:type] == 'skills' ? '' : ' vcalendar'} "}
  %h2.title= section[:title]
  .content
    - section[:subsections].each do |subsection|
      = render 'subsection', {:subsection => subsection, :type => section[:type]} unless subsection[:display] === false