.section{ :class => "#{section[:type]} #{ section[:type] == 'skills' ? '' : ' vcalendar' }"  }
  %h2.title= section[:title]
  .content
    - section[:subsections].each do |subsection|
      = render 'subsection', :subsection => subsection